<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>NSAnalyzer</h2>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/devices">Devices</a></li>
            <li><a href="/history">Reports</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="container">
      
            {% block content %}
        
        
            {% endblock %}
        </div>
    </div>
</body>
</html>
