{% extends "base.html" %}

{% block content %}
    <h1>Connected Devices</h1>
    <table class="devices-table">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>MAC Address</th>
                <th>Hostname</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.ip }}</td>
                <td>{{ device.mac }}</td>
                <td>{{ device.hostname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
