{% extends "base.html" %}

{% block content %}
<div class="center-container">
    <div class="network-info">
        <h1>Network Overview</h1>
        <p><strong>SSID:</strong> {{ ssid }}</p>
        <p><strong>Signal Strength:</strong> {{ signal_strength }}%</p>
        <p><strong>Encryption Type:</strong> {{ encryption }}</p>
        <p><strong>Gateway:</strong> {{ gateway }}</p>
        <p><strong>Threat Index:</strong> {{ threat_index }}/100</p>
    </div>
    <button class="scan-main ">Analyze Network</button>
    <form action="{{ url_for('analyze.test_for_exam') }}" method="post">
        <input type="hidden" name="filename" value="merged_output.pcap">
        <button type="submit" class="scan-test">Test for Exam</button>
    </form>
</div>

{% endblock %}