{% extends "base.html" %}

{% block content %}
<div class="center-container">
    <div class="network-info">
        <h1>Network Overview</h1>
        <p><strong>Default Gateway:</strong> {{ network.default_gateway }}</p>
        <p><strong>MAC Address:</strong> {{ network.mac_address }}</p>
        <p><strong>Open Ports:</strong> {{ network.open_ports | join(", ") }}</p>
       
    </div>
    <form action="" method="post">
        <button class="scan-main ">Analyze Network</button>
    </form>
    
    <form action="{{ url_for('analyze.test_for_exam') }}" method="post">
        <input type="hidden" name="filename" value="merged_output.pcap">
        <button type="submit" class="scan-test">Test for Exam</button>
    </form>
</div>

{% endblock %}